<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<a href="{% url 'other_name' %}">111</a>
<a href="/function/">222</a>
<a href="/function/">333</a>
<a href="/function/">444</a>
<a href="/function/">555</a>
<a href="/function/">666</a>
<a href="/function/">777</a>
<a href="/function/">888</a>
<a href="/function/">999</a>
<a href="/function/">000</a>
</body>
</html>